
<form #form="ngForm" (ngSubmit)="nextStep(form)" *ngIf="stepNumber===1">
    <div class="form-group">
      <label>Login:</label>
      <input type="text" class="form-control" placeholder="Login"  name="login" [(ngModel)]="account.login" #login="ngModel" required>
      <div [hidden]="login.valid || login.untouched" class="alert alert-danger">
        Field login is required
      </div>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" placeholder="Email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"  [(ngModel)]="account.email" #email="ngModel" required>
      <div [hidden]="email.valid || email.untouched" class="alert alert-danger">
        Field email empty or not valid (example burbon91@gmail.com)
      </div>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" placeholder="Password" name="password" pattern=".{6,}" [(ngModel)]="account.password" #password="ngModel" required>
      <div [hidden]="password.valid || password.untouched" class="alert alert-danger">
        Field password empty or not valid
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Next</button>
    </div>
  </form>
