
<form #form="ngForm" (ngSubmit)="nextStep(form)" *ngIf="stepNumber===2">
    <div class="form-group">
      <label>Firstname:</label>
      <input type="text" class="form-control" placeholder="Firstname" name="firstname"  [(ngModel)]="profile.firstname" #firstname="ngModel" required>
      <div [hidden]="firstname.valid || firstname.untouched" class="alert alert-danger">
        Field firstname is required
      </div>
    </div>
    <div class="form-group">
      <label>Lastname</label>
      <input type="email" class="form-control" placeholder="Lastname" name="lastname" [(ngModel)]="profile.lastname" #lastname="ngModel" required>
      <div [hidden]="lastname.valid || lastname.untouched" class="alert alert-danger">
        Field login is required
      </div>
    </div>
    <div class="form-group">
      <label>Telephone</label>
      <input type="text" appPhoneMask class="form-control" placeholder="Telephone" name="telephone" pattern="\d{3}[\-]\d{3}[\-]\d{4}" [(ngModel)]="profile.telephone" #telephone="ngModel" required>
      <div [hidden]="telephone.valid || telephone.untouched" class="alert alert-danger">
        Field telephone is empty or not valid (example 123-456-7890)
      </div>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-primary" (click)="prevStep()">Prev</button>
      <button type="submit" class="btn btn-primary">Next</button>
    </div>
  </form>
