<div class="title">Multi step form</div>
<div *ngIf="completed" class="finish-message">Congrats, work completed</div>
<div class="step-number"><span>Step: {{currentStep}}</span></div>
<div class="progress">
  <div class="progress-bar" role="progressbar"
  aria-valuemin="0" aria-valuemax="100"  [style.width]="progress +'%'">
    <span class="sr-only">{{progress}}% Complete</span>
  </div>
</div>
<div *ngIf="data.length > 0 && !completed" class="added-data">
  <span class="title">Last added data</span>
  <div *ngFor="let field of lastData | toArray" class="last-data">
    <span class="item-title">{{field.key}}</span>
    <span class="item-value">{{field.value}}</span>
  </div>
</div>
<div *ngIf="completed" class="added-data">
  <span class="title">Your data</span>
  <ul class="report">
    <li *ngFor="let obj of data | toArray">
      <div *ngFor="let field of obj.value | toArray" class="report-item">
        <span class="item-title">{{field.key}}</span>
        <span class="item-value">{{field.value}}</span>
      </div>
    </li>
</ul>
</div>
<app-account  (onNextStep)="nextStep($event)" [stepNumber]="currentStep"></app-account>
<app-profile  (onNextStep)="nextStep($event)" (onPrevStep)="prevStep($event)" [stepNumber]="currentStep"></app-profile>
